


    <div class="container" id="map">
        {{!-- Aqui se carga el contenido del mapa a mostrar --}}
        
    </div>


    {{!-- Cargamos el archivo que está en la ruta global public y la ruta indicada --}}
    <script src="/js/mapa.js"></script>


