
<div class="row">
    <div class="container-fluid col-md-10" id="map">
        {{!-- Aqui se carga el contenido del mapa a mostrar --}}
    </div>
    <div class="container col-lg-2 my-auto" id="selectores">
        <div class="card my-3">
            <div class="card-header">
                Navegación
            </div>
            <div class="card-body">
                <button type="button" id="ver_todas" class="btn btn-success btn-block"><i class='fa fa-users'></i>Ver todo</button>
                <button type="button" id="mis_ubicaciones" class="btn btn-success btn-block"><i class='fa fa-user-o'></i>Mis
                    Ubicaciones</button>
                <button type="button" id="ver_miUbicacion" class="btn btn-success btn-block"><i class='fa fa-thumb-tack'></i>Mi ubicación</button>
                <span id="txtModo" class="badge badge-pill badge-primary d-block mt-3">Modo visualización</span>
            </div>
        </div>
        {{!-- Aqui se cargan los filtros --}}

        <div class="card my-3">
            <div class="card-header">
                Filtros
            </div>
            <div class="card-body">
                <select id="tipo_foto" class="custom-select mb-2">
                    <option selected>Tipo de foto</option>
                    <option value="paisaje">Paisaje</option>
                    <option value="macro">Macro</option>
                    <option value="nocturna">Nocturna</option>
                    <option value="LP">Light Painting</option>
                    <option value="ruinas">Ruinas</option>
                    <option value="ciudad">Ciudad</option>
                    <option value="costa">Costa</option>
                    <option value="todas">Todas</option>
                </select>
            </div>
        </div>

        {{!-- Aqui se cargan los filtros --}}
        <div class="card my-3">
            <div class="card-header">
                Edición
            </div>
            <div class="card-body">
                <button type="button" id="new" class="btn btn-success btn-block"><i class="fa fa-image"></i>&nbsp;Nueva ubicación</button>
                <button type="button" id="edit" class="btn btn-warning btn-block"><i class='fa fa-edit'></i>&nbsp;Editar existente</button>
                <button type="button" id="delete" class="btn btn-danger btn-block"><i class='fa fa-times-circle'></i>&nbsp;Eliminar ubicación</button>
                
            </div>
        </div>
    </div>
</div>
{{!-- Script para crear mapa --}}
<script src="/js/vistaMapa.js"></script>

{{!-- Cargamos el archivo que está en la ruta global public y la ruta indicada --}}
<script src="/js/mapa.js"></script>