
<div class="row p-1" >
    <div class="container-fluid col-md-10" id="map">
        {{!-- Aqui se carga el contenido del mapa a mostrar --}}
    </div>

    <div class="containerm col-md-2" id="selectores">
        {{!-- Aqui se cargan los filtros --}}
        <button type="button" id="mis_ubicaciones" class="btn btn-light btn-block">Mis Ubicaciones</button>

    </div>

</div>

    {{!-- Cargamos el archivo que está en la ruta global public y la ruta indicada --}}
    <script src="/js/mapa.js"></script>


