
    <div class="row mt-3">

        {{!-- MAPA --}}
        <div class="card col-md-5 mr-auto">
            {{!-- Cargamos el mapa --}}
            <div class="card" id="map">
            </div>

        </div>

        {{!-- IMAGEN --}}
        <div class="card col-md-4 mr-auto">
            {{!-- Cargamos la imagen --}}
            
            <div class="card-body text-center">
                <img class="img-fluid" src="/img/noimg.jpg" alt="Imagen subida">
                <button class="btn btn-success mt-3">Subir imagen
            </div>
        </div>

        {{!-- CARACTERISTICAS --}}
        <div class="card col-md-3 mr-auto">

            <div class="card-body text-center">
                {{!-- Cargamos los filtros --}}

                <button class="btn btn-success">Insertar nueva ubicación
            </div>
        </div>
    </div>


<script src="/js/mapa_nuevo.js"></script>