<form name="formNuevo" method="POST" action="/mapas/upload" enctype="multipart/form-data">
    <div class="row">

        {{!-- MAPA --}}
        <div class="card col-lg-5 mr-auto">
            {{!-- Cargamos el mapa --}}
            <div class="card" id="map">
            </div>

        </div>

        {{!-- IMAGEN --}}
        <div class="card col-lg-4 mr-auto">
            {{!-- Cargamos la imagen --}}
            <div class="card-body text-center">
                <img class="img-fluid" id="imagenThumbnail" src="/img/noimg.jpg" alt="Imagen subida">
                <div class="form-group mt-5">


                </div>
            </div>
            <div class="card-footer">
                <label for="inputTitulo" id="labelInputTitulo">Titulo de la imagen</label>
                <input type="text" class="form-control text-center m-2" id="inputTitulo" placeholder="Titulo" name="titulo" required>
                <label for="inputFechaFoto" id="labelinputFechaFoto">Fecha de la foto</label>
                <input type="date" class="form-control text-center m-2" id="inputFechaFoto" name="fecha_foto">

                <div class="custom-file ">
                    <input type="file" class="custom-file-input mt-2" id="inputSubirImagen" accept=".jpeg, .jpg"
                        name="imagen">
                    <label class="custom-file-label mt-2" for="inputSubirImagen" id="labelInputSubirImagen">Elegir archivo</label>
                </div>
            </div>

        </div>

        {{!-- CARACTERISTICAS --}}
        <div class="card col-lg-3 mr-auto">

            <div class="card-body text-center">
                {{!-- Cargamos los filtros --}}
                <div class="form-group">
                    <label for="inputLat">Latitud</label>
                    <input type="number" class="form-control text-center" id="inputLat" placeholder="Latitud"
                        name="latitud" step="0.000000000000001" min="-90" max="90" required>
                    <label for="inputLng">Longitud</label>
                    <input type="number" class="form-control text-center" id="inputLng" placeholder="Longitud"
                        name="longitud" step="0.000000000000001" min="-180" max="180" required>
                    <label for="inputAutor">Autor</label>
                    <input type="text" class="form-control text-center" id="inputAutor" placeholder="Autor" name="autor"
                        readonly>

                    <label for="tipo_foto_nueva">Tipo de foto</label>
                    <select id="tipo_foto_nueva" class="custom-select mb-2" name="tipo_fotografia" required>
                        <option>Tipo de foto</option>
                        <option value="paisaje">Paisaje</option>
                        <option value="macro">Macro</option>
                        <option value="nocturna">Nocturna</option>
                        <option value="LP">Light Painting</option>
                        <option value="ruinas">Ruinas</option>
                        <option value="ciudad">Ciudad</option>
                        <option value="costa">Costa</option>
                        <option value="todas">Todas</option>
                    </select>
                    <label for="inputDireccion">Direcci贸n</label>
                    <input type="text" class="form-control text-center" id="inputDireccion" placeholder="Direcci贸n"
                        name="direccion">
                    <label for="inputAcceso">Acceso</label>
                    <textarea class="form-control text-left" id="inputAcceso" rows="5" placeholder="Acceso"
                        name="acceso" required></textarea>
                </div>

            </div>
            <div class="card-footer text-center">
                <button type="submit" id="enviar" class="btn btn-success align-self-end">Insertar nueva ubicaci贸n
            </div>
        </div>

    </div>
</form>

    {{!-- Script para crear mapa --}}
    <script src="/js/vistaMapa.js"></script>

    
    <script src="/js/mapa_nuevo.js"></script>

    {{!-- Validaci贸n de datos de formulario en cliente --}}
    <script type="text/javascript" src="/js/validacion.js"></script>

