
<section class="card">
    <div class="card-body">
        <h1>Acerca de...</h1>
        <p>Utilidad OpenSource para visualizar, compartir, divulgar y servir como apoyo en la elección de salidas fotográficas.</p>
    </div>
</section>

