
<section class="card col-md-6 mx-auto my-4 bg-light">
    <div class="card-body text-center">
        <h2>Acerca de...<img class="logo" src="/img/Logo.png"></h2>
        <hr>
        <p>Utilidad OpenSource para visualizar, compartir, divulgar y servir como apoyo en la elección de salidas fotográficas.</p>
    </div>
</section>

