    {{!-- Aqui definimos el contenido --}}

    <div class="jumbotron mt-4">
        <h1 class="display-4">Ubica2. Localizaciones fotográficas</h1>
        <p class="lead">Aplicación web presentada por el alumno D. José Ramón Martínez Villegas como TFG del módulo de Desarrollo de Aplicaciones Web impartido en la modalidad OnLine por el CIFP Carlos III de Cartagena</p>
        <hr class="my-4">
        <p>La aplicación consiste en la visualización a través de mapas de las localizaciones fotográficas compartidas por un grupo de aficionados a la fotografía.</p>
        
    </div>

