    {{!-- Aqui definimos el contenido de la pagina de inicio --}}

    <div class="jumbotron col-md-6 mx-auto my-4">
        <h1 class="display-4 text-center"><img class="logo mx-auto d-block" src="/img/Logo.png">Localizaciones fotográficas</h1>
        <p class="lead">Aplicación web presentada por el alumno D. José Ramón Martínez Villegas como TFG del módulo de Desarrollo de Aplicaciones Web impartido en la modalidad a distancia por el CIFP Carlos III de Cartagena Curso 2019-2020</p>
        <hr class="my-4">
        <p>Para consultar las ubicaciones, registrate y accede con tus credenciales. Si tienes cualquier duda o consulta puedes comunicar con el administrador de la web con el formulario de contacto que encontrarás en el menú</p>
        
    </div>

