body{
    background-color: #1488cc;
}
#map{
    height: 85vh;
}

.logo{
    height: 3vw;
}
.contact-form{
    background:rgba(0,0,0, .5);
    color:white;
    margin-top: 50px;
    padding: 20px;
    box-shadow: 0px 0px 10px 3px grey;
}
